@font-face {
  font-family: 'MS UI Gothic';
  src: url('./fonts/MS-UIGothic.ttf') format('truetype');
  font-weight: 100;
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%; /* For Safari */
  text-size-adjust: 100%; /* For Chrome, Firefox, Edge, Opera */
  font-family: 'MS UI Gothic', sans-serif; /* Set font for everything */
}

body {
  background-color: #000;
  filter: contrast(1.1) saturate(1.4) brightness(0.9);
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'MS UI Gothic', sans-serif; /* Ensure font is set for body */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b5cff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}

h1, h2, h3, p, span {
  text-shadow: 0 0 10px currentColor, 0 0 30px currentColor, 0 0 50px currentColor;
}