@font-face {
	font-family: 'MS UI Gothic';
	src: url('./fonts/MS-UIGothic.ttf') format('truetype');
	font-weight: 100;
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: 'MS UI Gothic', sans-serif;
}

body {
	background-color: #000;
	filter: contrast(1.1) saturate(1.4) brightness(0.9);
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'MS UI Gothic', sans-serif;
}

.vhs-effect {
	position: relative;
	overflow: hidden;
}

[class*="border"] {
	background-color: #000;
	box-shadow:
		0 0 1px var(--glow-color, currentColor),
		0 0 2px var(--glow-color, currentColor),
		0 0 3px var(--glow-color, currentColor);
	transition: box-shadow 0.3s ease;
}

h1,
h2,
h3,
p,
span {
	text-shadow: 0 0 4px currentColor, 0 0 25px currentColor;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
	text-shadow: 0 0 1px currentColor, 0 0 10px currentColor
}


div {
	text-shadow: 0 0 1px currentColor, 0 0 10px currentColor
}

ul li {
	padding-left: 20px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #000;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #4fae9b;
	box-shadow: 10px 0 10px #4fae9b, 0 0 20px #4fae9b, 0 0 30px #4fae9b;
}

::-webkit-scrollbar-thumb:hover {
	background: #347266;
}

.artBox {
	text-shadow: 0 0 1px currentColor, 0 0 10px currentColor
}

.scanlines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.1) 50%);
	background-size: 100% 10px;
	z-index: 100;
	pointer-events: none;
}

#app-container:after {
	content: "";
	width: 300%;
	height: 300%;
	top: -100%;
	left: -50%;
	opacity: 0.01;
	position: fixed;
	z-index: 50;
	pointer-events: none;
	animation: grain 8s steps(10) infinite;
	background-image: url("/public/noise-image.png");
}
#app-container::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	z-index: 50;
	pointer-events: none;
	
	position: fixed;
	z-index: 1;
	background: radial-gradient(circle, rgba(0,0,0,0) 80%, rgba(0,0,0,0.8) 100%);
}
@keyframes grain {
	0%, 100% { transform: translate(0, 0) }
	10% { transform: translate(-5%, -10%) }
	20% { transform: translate(-15%, 5%) }
	30% { transform: translate(7%, -25%) }
	40% { transform: translate(-5%, 25%) }
	50% { transform: translate(-15%, 10%) }
	60% { transform: translate(15%, 0%) }
	70% { transform: translate(0%, 15%) }
	80% { transform: translate(3%, 35%) }
	90% { transform: translate(-10%, 10%) }
}